.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card {
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 16px;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.card img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  &:hover {
    transform: scale(1.1);
  }
}